#header {
    padding: 16px 32px;
    background-color: var(--brand-orange);
}

#header > * {
    flex: 1;
}

.products-link {
    font-size: 1.1rem;
    text-align: center;
}

.products-link:hover {
    text-decoration-line: underline;
}

#cart {
    gap: 4px;
}

#cart > img {
    width: 28px;
    height: auto;
}

.cart-link {
    justify-items: end;
}