#header {
    padding: 16px 32px;
    background-color: orange;
}

.products-link {
    font-size: 1.1rem;
}

.products-link:hover {
    text-decoration-line: underline;
}

#cart {
    gap: 4px;
}

#cart > img {
    width: 28px;
    height: auto;
}