:root {
  --brand-orange: orange;
}

* {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  box-sizing: border-box;
  color: black;
}

html, body {
  height: 100%;
}

#root {
  height: 100%;
  min-height: 500px;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.item-center {
  justify-content: center;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.grid {
  display: grid;
}

a {
  text-decoration: none;
}

.button-link {
  padding: 8px 24px;
  background-color: var(--brand-orange);
  border-radius: 20px;
  transition: filter 0.3s;
  border: none;
}

.button-link:hover {
  filter: brightness(0.9);
}